h2 Chicago Technology Diversity Initiative: Code of Conduct
p #[b Note] #[em Slack community] in this document refers to the Chicago Technology Diversity Initiative organization at chitechdiversity.slack.com. #[em The administrators] refers to the administrators of this organization; a list is available at the top of the
  a Team Directory
  | . Note that you must be a member of the organization to view this list.
h3 Our Goal
p
  | This community is dedicated to providing a harassment-free experience for everyone. We do not tolerate harassment of participants in any form.
h3 Applicability and Scope
p This code of conduct applies to all of this community's spaces, including public channels, private channels and direct messages, both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the administrators.

h3 Toward a Welcoming and Safe Environment
p We hope to create an environment in which diverse individuals can collaborate and interact in a positive and affirming way. Examples of behavior that contributes to creating this sort of environment include:
ul
  li Using welcoming and inclusive language
  li Being respectful of differing viewpoints and experiences
  li Gracefully accepting constructive criticism
  li Focusing on what is best for the overall community
  li Showing empathy towards other community members
h3 Anti-Harassment Statement
p #[b This community will not tolerate harassment of any kind]. Examples of harassment include:
ul
  li
    | Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, pregnancy status, veteran status, political affiliation, marital status, body size, age, race, national origin, ethnic origin, nationality, immigration status, language, religion or lack thereof, or other identity marker. This includes anti-Indigenous/Nativeness and anti-Blackness.
  li
    | Unwelcome comments regarding a person's lifestyle choices and practices, including those related to food, health, parenting, relationships, drugs, and employment.
  li
    | Deliberate misgendering, using inappropriate pronouns, or use of "dead" or rejected names.
  li
    | Gratuitous or off-topic sexual images or behavior in spaces where they're not appropriate.
  li
    | Physical contact and simulated physical contact (eg, textual descriptions like "hug" or "backrub") without consent or after a request to stop.
  li Threats of violence.
  li
    | Threats of violence.
ul
  li Incitement of violence towards any individual or group, including encouraging a person to commit suicide or to engage in self-harm.
  li Deliberate intimidation.
  li
    | Stalking or following - online or in the physical world.
  li Harassing photography or recording, including logging online activity for harassment purposes.
  li Sustained disruption of discussion.
  li
    | Unwelcome sexual attention.
  li Patterns of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others.
  li
    | Continued one-on-one communication after requests to cease.
  li Deliberate "outing" of any aspect of a person's identity without their consent except as necessary to protect vulnerable people from intentional abuse.
  li Publication of non-harassing private communication.
p
  | Jokes that resemble the above, such as 'hipster racism', still count as harassment even if meant satirically or ironically.
p
  | If you have questions or concerns about these issues please feel free to message an admin or ask for an opportunity to explore the issue with a moderator and volunteers.
h3 Reporting
p
  | If you are being harassed by a member of our community, notice that someone else is being harassed, or have any other concerns, please contact the administrators via [INSERT APPROPRIATE CONTACT METHOD HERE]. If the person who is harassing you is on the admin team, they will not be involved in handling or resolving the incident.
p
  | The admin team will respond to any complaint as promptly as possible we can. If you do not get a timely response (for example, if no admins are currently online) then please put your personal safety and well-being first, and consider logging out and/or contacting the admins by email at [EMAIL ADDRESS HERE].
p
  | This code of conduct applies to our community's spaces, but if you are being harassed by a member of our community outside our spaces, we still want to know about it. We will take all good-faith reports of harassment by our members, especially the administrators, seriously. This includes harassment outside our spaces and harassment that took place at any point in time. The abuse team reserves the right to exclude people from the community based on their past behavior, including behavior outside of our spaces and behavior towards people who are not in this slack.
p
  | In order to protect volunteers from abuse and burnout, we reserve the right to reject any report we believe to have been made in bad faith. Reports intended to silence legitimate criticism may be deleted without response.
h3 Enforcement Process
p
  | Every code of conduct violation report will be treated with seriousness and care. If a member's immediate safety and security is threatened, an individual admin may take any action that they deem appropriate, up to and including temporarily banning the offender from the community. In less urgent situations, at least two admins will discuss the offense and mutually arrive at a suitable response, which will be shared with the offender privately. Whatever the resolution that they decide upon, the decision of the admins involved in a violation case will be considered final.
p
  | We will respect confidentiality requests for the purpose of protecting victims of abuse. At our discretion, we may publicly name a person about whom we've received harassment complaints, or privately warn third parties about them, if we believe that doing so will increase the safety of our members or the general public. We will not name harassment victims without their affirmative consent.
h3 Consequences
p
  | Participants asked to stop any harassing behavior are expected to comply immediately. If a participant engages in harassing behavior, the administrators may take any action they deem appropriate, up to and including expulsion from the community and identification of the participant as a harasser to other members. At the discretion of the admins, or by request, one or more of the parties involved may request to discuss the violation and how to avoid similar situations in the future.
h3 Acknowledgements
p
  | This Code of Conduct is adapted from the Community Covenant (http://community-covenant.net), version 1.0, available at http://community-covenant.net/version/1/0/. The Community Covenant is an open source effort and is built on codes of conduct that came before it, including the Contributor Covenant (http://contributor-covenant.org/) and the LGBTQ in Tech community code of conduct (http://lgbtq.technology/coc.html).
h3 License
p
  | 
Community Covenant by Coraline Ada Ehmke is licensed under a Creative Commons Attribution 4.0 International License (http://creativecommons.org/licenses/by/4.0/). Based on a work at http://community-covenant.net/.

p.toc-wrapper
  input#coc(type="checkbox")
  label(for="coc") I have read and agree to the code of conduct.
