svg#slack-logo(data-name='Layer 1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 125.05 125.05')
  g
    rect(x='112.77', y='131.77', width='17.62', height='16.96', transform='translate(-97.31 -31.85) rotate(-18.52)')
    g
      rect(x='112.77', y='131.77', width='17.62', height='16.96', transform='translate(-97.31 -31.85) rotate(-18.52)')
      path(d='M178.88,123.06c-12.89-43-31.51-53-74.48-40.1s-53,31.51-40.1,74.48,31.51,53,74.48,40.1S191.77,166,178.88,123.06ZM157.14,151l-8.1,2.71,2.81,8.38a6.48,6.48,0,1,1-12.29,4.12l-2.81-8.38L120,163.38l2.81,8.38a6.48,6.48,0,1,1-12.29,4.12l-2.81-8.38-8.1,2.71a6.48,6.48,0,0,1-4.12-12.29l8.1-2.71-5.39-16.08-8.1,2.71A6.48,6.48,0,0,1,86,129.54l8.1-2.71-2.81-8.38a6.48,6.48,0,1,1,12.29-4.12l2.81,8.38,16.71-5.6-2.81-8.38a6.48,6.48,0,1,1,12.29-4.12l2.81,8.38,8.1-2.71a6.48,6.48,0,0,1,4.12,12.29l-8.1,2.71,5.39,16.08,8.1-2.71A6.48,6.48,0,0,1,157.14,151Z', transform='translate(-59.06 -77.7)')
