extends ./layout.jade

block content
  .header
    h1
      strong #{community}
    h2 Enter your email below to join #{community} on slack!
  .content
    .information
      p Placeholder text for about section.

script.
  var tokenRequired = #{tokenRequired};
    if (!email.value) {
      evt.preventDefault();
    }
    if (tokenRequired && !token.value) {
      evt.preventDefault();
    }
  });
