extends ./layout.jade

block content
  .header
    h2 Etiquette & Tips
  .content
    .information
      p Here are some guidelines for making our Slack community a fun and rewarding place:

      ul
        li Don't send private messages to people without permission.
        li Avoid the use of @channel and @here except for those rare situations in which it is urgent to get everyone's attention immediately.
        li For general help using or navigating our Slack community, join #help and a Slack Steward will be happy to assist you.
        li If you need to reach a Slack Steward immediately (for example, to report a Code of Conduct violation), use the /admin command to send a message. For example, "/admin Please look at what @joeperson just said in the #general channel, I think he needs to be reminded of our rules."
        li Try not to interrupt conversations that are in progress. People can find it hard to follow multiple conversations going on simultaneously.
        li Do not cross-post between channels.
        li Try to avoid gendered language like "hey guys". Not everyone is comfortable being considered "one of the guys."
        li If you are concerned about people using incorrect pronouns to address you, please specify your pronouns in your user profile.
        li If you are uncertain what pronouns to use to refer to someone, check their user profile (by clicking on their avatar.) If nothing is specified then ask if you may send a private message and ask for clarification about their pronouns in private.
