extends ./layouts/_base.jade
block body
  section.Intro
    include ./partials/sections/_intro.jade
  section.About
    include ./partials/sections/_about.jade
  section.Faq
    include ./partials/sections/_faq.jade
  section.How
    include ./partials/sections/_how.jade
  section.Join
    include ./partials/sections/_join.jade
  section.Footer
    include ./partials/sections/_footer.jade
