doctype html
html
  head
    title Entre na comunidade #{community} no Slack!
    style.
      *{
        box-sizing: border-box;
      }
      body {
        maraing:0;
        padding:0;
        font: 62.5% "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      .content{
        max-width: 600px;
        margin: 0 auto;
        padding:1rem;
      }
        .title{
        font-size:2rem;
        color:#424242;
        text-align:center;
        }
          .title > span{
            color:#00749A;
          }  
        .text{
          font-size:1.1rem;
          display:block;
          padding:.5rem;
          background-color:#FCF8E3;
          color:#8A6D3B;
          border: 1px solid #FAEBCC;
          text-align:center;
        }
        .message{
          font-size:1rem;
      
        }
          .success {
            color: #3C763D;
          }
          .error {
            color: #A94442;
          }
      #join-form{
        diplay:block;
        margin-top:1rem;
      }
      input[type="text"] {
        border: 1px solid #ddd;
        color: #666;
        padding:.5rem;
        font-size: 1rem;
        width:80%;
        height:40px;
        outline:0;
        display:inline-block;
      }
      input[type="submit"] {
        border: 1px solid #ccc;
        color: #555;
        padding:.5rem;
        font-size: 1rem;
        cursor:pointer;
        width:20%;
        height:40px;
        outline:0;
        float:right;
        display:inline-block;
      }

      
  body
    .content
      h1.title Entre na comunidade <span>#{community}</span> no Slack!
      p.text Vale lembrar que não oferecemos suporte nesse canal
      if success === 1
        div.message.success
          p #{message}
      else
        if success === 0
          div.message.error
            p #{message}
        form(method="POST", action="/invite")#join-form
          input(type="text", name="email", placeholder="Informe seu email")#slack-email
          input(type="submit", name="submit", value="Entrar")#slack-submit
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
