doctype html
html
  include ./includes/head.jade
  body
    .content
      h1.title Entre na comunidade <span>#{community}</span> no Slack!

      p O #[a(href='https://slack.com/') Slack] é um aplicativo para troca de mensagens, hoje usado pela #[a(href='https://make.wordpress.org/chat/') comunidade WordPress] para conversas e contribuições em tempo real entre seus usuários.

      p Entre tantas outras, o Slack possui as seguintes características:

      ul
        li É gratuito
        li Tem uma interface extremamente amigável
        li Possui, além do aplicativo web, versões para iOS, Android, Mac e Windows
        li Integra com mais de 80 serviços, possibilitando que você receba notificações das suas ferramentas favoritas dentro de um único espaço
      
      img(src="img/wpbrasil-slack.png").img-logo

      p.text-default A comunidade brasileira de WordPress está no Slack também. Digite abaixo o seu email e entre na conversa!

      p.text O espaço criado no Slack para a comunidade brasileira de WordPress é aberto para discussões e conversas relacionadas ao WordPress e a comunidade Brasileira e suas cidades, WordCamps, meetups, desenvolvimento de plugins e demais iniciativas. Sendo assim, é importante lembrar que <strong>não oferecemos suporte nesse canal</strong>. Para isso, procure os #[a(href='http://br.forums.wordpress.org/') fóruns oficiais em português].

      if success === 1
        div.message.success
          p #{message}
      else
        if success === 0
          div.message.error
            p #{message}
        form(method="POST", action="/invite")#join-form
          input(type="text", name="email", placeholder="Informe seu email")#slack-email
          input(type="submit", name="submit", value="Entrar")#slack-submit
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
