doctype html
html
  head
    title Entre na comunidade #{community} no Slack!
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      input {
        font-size: 24px;
        width: 400px;
      }
  body
    h1 Entre na comunidade #{community} no Slack!
    form(method="POST", action="/invite")#join-form
      input(type="text", name="email", placeholder="Enter your email")#slack-email
    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
      });
