doctype html
html
  include ./includes/head.jade
  body
    .content
      h1.title Entre na comunidade <span>WordPress Brasil</span> no Slack!

      p Utilizamos o #[a(href='https://slack.com/', target='_blank') Slack] como ferramenta para comunicação e contribuições em tempo real.

      img(src="img/wpbrasil-slack.png").img-logo

      p O Slack da comunidade WordPress Brasil é um espaço aberto para:

      ul
        li Discussões e organização:
          ul
            li #[a(href='https://br.wordpress.org/support/', target='_blank') Fóruns de suporte].
            li #[a(href='https://translate.wordpress.org/locale/pt-br', target='_blank') Traduções de vários projetos].
            li Eventos da comunidade, como WordCamps e meetups.
            li Projetos da comunidade, como o #[a(href='http://wpod.in/', target='_blank') Framework Odin].
        li Divulgação de eventos da comunidade, como meetups e WordCamps.
        li Avisos e comunicados para todos que participam como voluntários.
        li E outras iniciativas ligadas a comunidade brasileira.

      p.info Observe que <strong>não oferecemos suporte nesse canal</strong> para as suas instalações do WordPress. Caso você busque ajuda, recomendamos a utilização dos #[a(href='https://br.wordpress.org/support/', target='_blank') fóruns oficiais em português].

      p Digite abaixo o seu e-mail e comece a participar da comunidade!

      if success === 1
        div.message.success
          p #{message}
      else
        if success === 0
          div.message.error
            p #{message}
        form(method="POST", action="/invite")#join-form
          input(type="email", name="email", placeholder="Informe seu e-mail", required)#slack-email
          input(type="submit", name="submit", value="Quero participar e ajudar a comunidade!")#slack-submit
          #[a(href='https://br.wordpress.org/support/forums/').button-forum Quero ajuda com um problema no WordPress!]

      p Já está cadastrado? Acesse sua conta em #[a(href='https://wpbrasil.slack.com/') wpbrasil.slack.com].

    script.
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email')
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();

        }
      });
