extends ./layout.jade

block content
  .header
    h2 Rules
  .content
    .information

script.
  var tokenRequired = #{tokenRequired};
    if (!email.value) {
      evt.preventDefault();
    }
    if (tokenRequired && !token.value) {
      evt.preventDefault();
    }
  });
