extends ./layout.jade

block content
  .header
    h2 Rules
  .content
    .information
      each rules, type in ruleData
        h3= type
        each rule in rules
          h4= rule

script.
  var tokenRequired = #{tokenRequired};
    if (!email.value) {
      evt.preventDefault();
    }
    if (tokenRequired && !token.value) {
      evt.preventDefault();
    }
  });
