@font-face {
	font-family: Graphik;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Graphik-400.woff) format("woff2"),
		url(../fonts/Graphik-400.woff) format("woff");
}
@font-face {
	font-family: Graphik;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Graphik-500.woff2) format("woff2"),
		url(../fonts/Graphik-500.woff) format("woff");
}
@font-face {
	font-family: Graphik;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/Graphik-600.woff2) format("woff2"),
		url(../fonts/Graphik-600.woff) format("woff");
}
@font-face {
	font-family: Graphik;
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/Graphik-400-Italic.woff2) format("woff2"),
		url(../fonts/Graphik-400-Italic.woff) format("woff");
}
@font-face {
	font-family: Graphik;
	font-style: normal;
	font-weight: 200;
	src: url(../fonts/Graphik-200.woff2) format("woff2"),
		url(../fonts/Graphik-200.woff) format("woff");
}
@font-face {
	font-family: Graphik;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/Graphik-300.woff2) format("woff2"),
		url(../fonts/Graphik-300.woff) format("woff");
}
