* {
  box-sizing: border-box;
}

body,
html {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
  font-family: "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  color: #424242;
  text-align: center;
}

.title > span{
  color: #00749A;
}

.text{
  font-size: 1.1rem;
  display: block;
  padding: .5rem;
  background-color: #fcf8e3;
  color: #8A6D3B;
  border: 1px solid #faebcc;
  text-align: center;
}

.message{
  font-size: 1rem;
}

.success {
  color: #3c763d;
}

.error {
  color: #a94442;
}

#join-form{
  display: block;
  margin-top: 1rem;
}

input[type="text"] {
  border: 1px solid #ddd;
  color: #666;
  padding: .5rem;
  font-size: 1rem;
  width: 80%;
  height: 40px;
  outline: 0;
  display: inline-block;
}

input[type="submit"] {
  border: 1px solid #ccc;
  color: #555;
  padding: .5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 20%;
  height: 40px;
  outline: 0;
  float: right;
  display: inline-block;
}