/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


html,body{
margin:0;
padding:0;

font-family: "Graphik", sans-serif, Arial, Helvetica, sans-serif !important;
background: rgb(27,36,65) url(../images/bg.jpg) center top no-repeat;
background-size: 2000px;
height: 100%;
width: 100%;
}

#wrapper{
max-width: 100%;
width: 940px;
margin: 0 auto;
}

.main{
max-width: 100%;
width: 940px;
float: left;
}

.header, .content, .bottom, .sep2{
width: 100%;
float: left;
}

.header{
margin-top: 160px;
margin-bottom: 40px;
}


h1{
font-family: "Graphik", sans-serif, Arial, Helvetica, sans-serif !important;
color: #fff;
text-align: center;
font-size: 50px;
font-weight: 300;
margin: 0 0 10px 0;
}

	h1 strong{
	font-size: 38px;
	font-weight: 700;
	}

h2{
text-align: center;
font-weight: 300;
font-size: 20px;
color: #ffffff;

}

h2 strong{
font-weight: 700;
font-style: italic;
}

.information{
width: 480px;
margin: 0 auto;
}

h3{
font-size: 28px;
font-weight: 600;
color: #ffffff;
}

.information p{
font-size: 16px;
color: #ffffff;
display: block;
}

.form{
position: relative;
width: 478px;
margin-top: 20px;
}

.field{
height: 30px;
width: 324px;
padding: 7px 20px;
font-family: "Graphik", sans-serif, Arial, Helvetica, sans-serif !important;
font-weight: 400;
font-style: normal;
border: 2px solid #e7e8f0;
outline: none;
background: #ffffff;
color: rgba(5,12,64,.5);
font-size: 1rem;
line-height: 1;
-webkit-appearance: none;
border-radius: 5px;
}
	.field:focus {
	border: 2px solid #19c6c7;
	}


.submit{
height: 48px;
width: auto;
padding: 15px 30px;
font-family: "Graphik", sans-serif, Arial, Helvetica, sans-serif !important;
font-weight: 500;
font-style: normal;
display: inline-block;
transition: color .25s cubic-bezier(.25,.46,.45,.94),background-color .25s cubic-bezier(.25,.46,.45,.94),border-color .25s cubic-bezier(.25,.46,.45,.94);
border: 2px solid rgba(25,198,199,0);
border-radius: 23px;
background-color: #19c6c7;
color: #050c40;
font-size: 1rem;
line-height: 1;
text-align: center;
text-decoration: none;
margin-left: 10px;
}


.submit:hover{
background: #eeeeee;
border: 2px solid rgba(25,198,199,1);
}

@media only screen and (max-width: 480px)  {
	.information{
	width: 100%;
	}
	.form{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	}

	.field {
	width: 85%;
	}

	.submit{
	margin-top:20px;
	margin-left: 0px;
	width: 100%;
	}
}

.error {
color: #FE7070;
font-weight: 700;
font-size: 25px;
}

a {
color: #92BCF2;
font-weight: 700;
}

a:visited,
a:hover {
color: #7EB6FF;
}

.g-recaptcha, .g-recaptcha > div {
margin: auto;
}
