/*

GoLang Basics (from golang.org):

Colors:
	blue: #375EAB;
	light-blue: #E0EBF5;
	dark-grey: #222;

	red: #933;
	grey: #E0EBF5;
	white: #fff;
	black: #000;


Corners Radius: 5px;

Typography: Arial, sans-serif;

Base Size: 16px;

*/

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #E0EBF5;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}

main {
	position: absolute;
	width: 100%;
	max-width: 40em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.header {
	width: 100%;
	margin-bottom: 1em;
}

.gopher {
	margin: 0;
}

.gopher > img {
	display: block;
	margin: 0 auto;
	width: 50%;
}

h1 {
	color: #222;
	text-align: center;
	font-size: 4em;
	font-weight: 300;
	margin: 0 0 0.25em 0;
}

h2 {
	text-align: center;
	font-weight: 300;
	font-size: 1.2em;
	color: #222;
	margin: 0;
	padding: 0 1em;
}

h2 strong {
	font-weight: 700;
	font-style: italic;
}

h3 {
	font-size: 2em;
	font-weight: 600;
	color: #fff;
}

.information p {
	font-size: 16px;
	color: #fff;
}

.form {
	padding: 0 2em;
}

.field {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #375EAB;
	padding: 10px;
	margin-bottom: 1em;
	font-size: 16px;
	color: #222;
}

.field:focus {
	outline: none;
}

.submit {
	display: block;
	margin: 0 auto;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #375EAB;
	border: none;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}

.error {
	color: #933;
	font-weight: 700;
	font-size: 2em;
}

a {
	color: #92BCF2;
	font-weight: 700;
}

a:visited, a:hover {
	color: #7EB6FF;
}