div.About-container
  div.About-text.row
      div We're fortunate to have so many amazing meetups and organizations in Chicago that target underrepresented groups in technology and development.
      div Wouldn’t it be #[b amazing] if there was a #[b single place] for the organizers and members of these groups to connect and collaborate on the issues we care about?
  div.About-cta.larger.row Great news, now there is!
  div.About-slack.row
    div.one
      .text Join Us
    div.two
      include ../_svg-slack-white.jade
    div.three
      .text On Slack

