div.Faq-wrapper
  div.Faq-item
    div.Faq-question #[span.prompt ~] What does “diversity” mean to the CTDI Slack group?
    div.Faq-answer
      p This is an intentionally #[u anti-sexist], #[u anti-racist], #[u anti-homophobic], #[u anti-transphobic], #[u anti-ablest], #[u anti-discrimination], and #[u anti-harassment] space. We value inclusion through and through!

  div.Faq-item
    div.Faq-question #[span.prompt ~] #[span.multi Why have #[em another] slack group?] What’s the value of having one focused on diversity?
    div.Faq-answer
      p Firstly, there are a number of amazing diversity-focused technology groups in Chicago that all bring their own unique value to the community, but there is no widely used, open space where all of these forces can converge.
      p There is also great value in carving out a space where a community can define the culture, values, and overall tone of the group from the very beginning and from the perspective of those who do not often get to do so in the broader technological space.

  div.Faq-item
    div.Faq-question #[span.prompt ~] Who can join?
    div.Faq-answer
      p This group is focused on supporting technologists from underrepresented communities, but #[b everyone] is welcome and encouraged to contribute to the conversation.
      ul
        li #[b Community members] - People of all skill levels are welcome to join, learn, make friends, and get help in improving their technology skills.
        li #[b Community organizers] - Chat, share resources, and get support with other diversity-focused organizers in Chicago.
        li #[b Companies]  - Support the community and share opportunities with Slack members.
        li #[b Allies] - We mean it when we say everyone is welcome. Learn how to be a better ally and support those looking to improve their skills.
      p All members are required to follow the Code of Conduct. Refer to the the community rules and guidelines to ensure the best experience as part of the slack group.

  div.Faq-item
    div.Faq-question #[span.prompt ~] How do I use slack?
    div.Faq-answer
      p Slack is composed of “channels” and “messages”. Channels are chat rooms focused on a particular group or topic and can be either public or private depending on how the channel was created. Messages are private messages between two or more people. Both channels and messages can be created in the slack sidebar. For more tips on how to use slack, check out their #[a(href='https://get.slack.help/hc/en-us/articles/218080037-Getting-started-for-new-users') getting started] page. If you still have questions, hop into the channel #help and a group admin will help you out!

  div.Faq-item
    div.Faq-question #[span.prompt ~] Okay I just logged into the group, now what?
    div.Faq-answer
      p Great! We’re so happy to have you. Add info to your profile like your gender pronouns, where you work/study, or any pertinent info you feel comfortable sharing. Read more about the etiquette of the group. Join the channel #[span.channel #introductions] and give us a one message introduction of yourself. Browse through the channels and find the ones that interest you! You are welcome to join ANY public channel and can join a private channel by invitation. Most importantly, have fun and do not hesitate to ask questions!

  div.Faq-item
    div.Faq-question #[span.prompt ~] Can I create a channel?
    div.Faq-answer
      p Yep! Be sure to look through the channels to make sure something related to your topic does not already exist. If you are not sure, or would like guidance in creating it, feel free to reach out for assistance in the #help channel.

  div.Faq-item
    div.Faq-question #[span.prompt ~] Can I post a job opportunity?
    div.Faq-answer
      p Yes. Any company or individual can post job opportunities. Be prepared to answer questions about your company. Also, be sure that your posting falls within the guidelines of the Slack group’s rules, guidelines, and code of conduct.

  div.Faq-item
    div.Faq-question #[span.prompt ~] Can I post an event?
    div.Faq-answer
      p Absolutely. Anyone in any group can post events, but be prepared to answer questions regarding the event. Just make sure that your posting falls within the guidelines of the slack group’s rules, guidelines, and code of conduct.
